<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" bootstrap="vendor/autoload.php"
         colors="true">
<testsuites>
    <testsuite name="Unit">
        <directory suffix="Test.php">./Tests</directory>
    </testsuite>
</testsuites>
<coverage includeUncoveredFiles="true" ignoreDeprecatedCodeUnits="true"
          pathCoverage="true" disableCodeCoverageIgnore="false">
    <report>
        <html outputDirectory="html_coverage" lowUpperBound="50" highLowerBound="90"/>
    </report>
</coverage>
</phpunit>
